html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.menu-navegacion {
    display: block;
    background-color: #fff;
    height: 45px;
    text-align: center;
    line-height: 45px;

}

.logo {
    float: left;
    height: 100%;
    padding: 5px;
    margin-left: 10px;
}

.mi-ul {
    display: block;
    text-align:right;
}

.mi-li {
    display: inline-block;
    color: #009bffff;
    padding: 0 10px;
    font-size: 18px;
    vertical-align: middle;
    transition: transform 0.3s ease, color 0.3s ease;
}

.mi-li:hover {
    color: #0086df;
    transform: scale(1.1);
}




.hero {
    background-color: #009bffff;
    height: 300px;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 80px;
}


.titulo {
    color: aliceblue;
    display: block;
    font-size: 30px;
}


.descripcion {
    color: aliceblue;
    display: block;
    margin: 15px;
    font-size: 15px;
}

.aprende-mas {
    display: inline-block;
    width: 160px;
    margin: 10px;
    padding: 10px 15px;
    color: #009bffff;
    background-color: aliceblue;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.5s ease; 
}


.aprende-mas:hover {
    background-color: #009bffff;
    color: #f0f8ff;
    border: 2px solid #f0f8ff;
    padding: 8px 13px;
}